body {
    font-family: 'Raleway', Helvetica, sans-serif;
    position: relative
}
.site-footer {
    background: #151616;
    color: #fff;
    padding: 50px 0;
    font-size: 16px
}
#main-content {
    margin: 50px 0px
}
.site-nav {
    background: #151616;
    font-weight: 600;
    font-size: 16px
}
.site-nav .site-nav-list:after {
    content: ' ';
    display: table;
    clear: both
}
.site-nav .site-nav-list {
    padding: 0;
    border-left: 1px solid #000;
    border-right: 1px solid #232323;
    margin: 0 -1px
}
.site-nav .site-nav-list-item {
    text-align: center;
    border-left: 1px solid #232323;
    border-right: 1px solid #000;
    width: 14.2857142857%;
    float: left;
    list-style: none;
    -webkit-transition: background .25s ease, border .25s ease;
    -moz-transition: background .25s ease, border .25s ease;
    -ms-transition: background .25s ease, border .25s ease;
    -o-transition: background .25s ease, border .25s ease;
    transition: background .25s ease, border .25s ease
}
.site-nav-list .site-nav-list-item.active,
.site-nav-list .site-nav-list-item:hover {
    background: #1D7CBC;
    border-color: #1D7CBC
}
.site-nav a {
    color: #fff;
    text-decoration: none;
    padding: 10px 0;
    display: block
}
.site-header {
    background: url('/images/header.jpeg') no-repeat;
    background-size: cover;
    padding: 50px 0px
}
.site-header .profile {
    width: 150px;
    border-radius: 50%;
    border: 5px solid #fff;
    margin: 0 auto;
    display: block
}
.site-header .title-name {
    font-size: 50px;
    font-weight: 700;
    color: #fff;
    text-align: center
}
.site-header hr {
    width: 30%;
    margin: 20px auto
}
.site-header .title-tagline {
    text-align: center;
    color: #fff;
    font-size: 18px;
    font-weight: 300
}
@media all and (max-width: 767px) {
    .site-nav .site-nav-list {
        border: none;
        margin: 0 -15px
    }
    .site-nav .site-nav-list-item {
        min-height: 0;
        padding: 20px 0;
        display: block;
        float: none;
        width: 100%;
        border: none
    }
    .site-nav {
        position: fixed;
        top: 0;
        bottom: 0;
        background: #232323;
        z-index: 1;
        right: 100%;
        left: -60%;
        transition: .33s
    }
    .site-nav.open {
        right: 60% !important;
        left: 0
    }
    .site-nav-list-item {
        padding: 20px 15px !important
    }
    body {
        transition: .33s;
        left: 0%
    }
    body.nav-open {
        position: relative;
        left: 40%;
        transition: .33s;
        overflow: hidden
    }
    .nav-toggle {
        background: #232323;
        color: #fff;
        font-size: 18px;
        line-height: 45px
    }
    #nav-toggle {
        z-index: 1;
        display: block;
        background: #dedede
    }
    #nav-toggle .icon-bar {
        background: #494F51
    }
    .site-nav .site-nav-list-item {
        text-align: left
    }
    nav.site-nav.open,
    nav.site-nav.open>.container,
    nav.site-nav.open>.container>.row,
    nav.site-nav.open>.container>.row>.column,
    nav.site-nav.open>.container>.row>.column>.site-nav-list {
        height: 100%
    }
    .site-nav .site-nav-list-item {
        padding: 0 10px !important
    }
}
button,
a.button {
    background: transparent;
    border: 1px solid #1D7CBC;
    padding: 10px 30px;
    display: inline-block;
    border-radius: 20px;
    color: #1D7CBC;
    text-decoration: none;
    font-weight: 700;
    margin: 10px 0px;
    -webkit-transition: all .25s ease;
    -moz-transition: all .25s ease;
    -ms-transition: all .25s ease;
    -o-transition: all .25s ease;
    transition: all .25s ease
}
button:hover,
a.button:hover {
    color: #fff;
    border-color: #1D7CBC;
    background: #1D7CBC
}
button.inverse,
a.button.inverse {
    color: #494F51;
    border-color: #494F51
}
button.inverse:hover,
a.button.inverse:hover {
    color: #1D7CBC;
    border-color: #1D7CBC;
    background: transparent
}
.article-listing-header .headline {
    font-weight: 700;
    font-size: 24px
}
.publish-info {
    font-size: 16px;
    color: #656565;
    font-weight: 500;
    line-height: 1.7
}
.read-more-link>h3,
.read-more-link:hover {
    color: #000;
    text-decoration: none
}
.image-container {
    text-align: center;
    height: 230px
}
.image-container>a>img {
    border: 1px solid #CBCBCB;
    padding: 5px;
    max-height: 230px;
    transition: .33s
}
.image-container>a>img:hover {
    border-color: #1D7CBC
}
.article-teaser {
    font-family: 'Georgia' !important;
    font-size: 18px !important;
    line-height: 30px !important;
    color: #666666 !important
}
#series-listing .article-awards {
    margin-bottom: 15px
}
.article-listing-header h3:last-child {
    margin-bottom: 0
}
.article-teaser p:first-child {
    margin-top: 0
}
#main-article .article-body {
    font-family: 'Georgia' !important;
    font-size: 18px !important;
    line-height: 30px !important;
    color: #666666 !important;
    padding-top: 15px
}
#main-article .headline,
#series-listing .series-headline {
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 10px
}
#main-article .headline {
    margin-top: 0
}
#main-article .subhead,
#series-listing .series-subhead {
    font-size: 20px;
    font-weight: 400;
    margin: 0
}
#main-article .publish-info {
    margin-top: 10px
}
#series-listing .series-headline {
    margin-top: 0
}
#main-article header {
    border-bottom: 1px solid #DDDDDD;
    padding-bottom: 15px
}
#main-article .article-body p:first-of-type {
    margin-top: 0
}
.social-links {
    margin: 0;
    padding: 0;
    list-style: none
}
.social-links li {
    float: left;
    padding-right: 15px;
    width: 50px;
    height: 35px
}
.article-awards ul {
    margin: 15px -15px 0 -15px;
    padding: 0;
    list-style: none;
    display: block
}
.article-awards ul:after {
    content: '';
    clear: both;
    display: table
}
.article-awards li {
    float: left;
    background: url(/assets/award.png) left center no-repeat;
    min-height: 25px;
    padding-left: 25px;
    display: inline-block;
    margin-bottom: 15px;
    margin-left: 15px;
    margin-right: 15px
}
.article-awards li span {
    display: block
}
.graphic-container img {
    border: 1px solid #f2f2f2;
    padding: 5px;
    max-width: 100%
}
.graphic-container.half {
    max-width: 50%;
    float: left;
    padding-right: 15px
}
.graphic-container.full {
    width: 100%;
    text-align: center;
    padding-bottom: 15px
}
.graphic-cutline {
    background: #F2F2F2;
    padding: 5px 15px;
    color: #9E9E9E;
    font-family: 'Raleway';
    font-size: 14px;
    font-weight: 600
}
@media all and (max-width: 767px) {
    .site-footer {
        text-align: center
    }
    .listing-article ~ .listing-article {
        margin: 50px 15px;
        border-top: 1px solid #151616;
        padding-top: 50px
    }
    .social-links {
        width: 150px;
        margin: 15px auto
    }
}
@media (min-width: 768px) {
    .site-nav-list .site-nav-list-item {
        text-align: center
    }
}
@media (min-width: 992px) {
    .article-listing-header .headline {
        min-height: 70px
    }
    .article-listing-header .subhead {
        min-height: 38px
    }
}
@media all and (max-width: 1200px) {
    .site-nav-list-item {
        min-height: 58px
    }
    .site-header hr {
        width: 50%
    }
}
.resume-section+.resume-section {
    margin-top: 30px
}
.reference {
    margin-left: 30px
}
.reference+.reference {
    margin-top: 15px
}
.resume-section>strong {
    margin-bottom: 5px;
    display: inline-block
}
.resume-section ul {
    margin-top: 0;
    padding-top: 0;
    list-style-type: none
}
.work-experience {
    margin-left: 30px
}
.award-list li {
    margin-left: 15px
}
.award-list li.award-section {
    margin-left: 0;
    font-weight: bold;
    margin-top: 15px
}
/*header.site-header:before {background: url(/images/header.jpeg) no-repeat;background-size: cover;filter: blur(4px);content:'';position:absolute;left:-8px;right:-8px;top:-8px;bottom:-8px;} */